@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    max-width: 1200px;
    margin: auto;

}

/* Header */

header {
    background-color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header h1 {
    color: tomato;
    font-size: 2.5rem;
}

header span {
    color: white;
}

/* navegação */

header .navegacao-primaria {
    display: flex;
    gap: 10px;
    align-items: center;
}

header .navegacao-primaria li a {
    color: white;
    font-size: 1.3rem;
    padding: 10px;
}

/* dowload cv */

.section-div {
    animation: inicializar .7s forwards;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    padding: 60px;
}

.section-div div {
    margin-top: 120px;
    align-self: start;
    display: grid;
    gap: 30px;
}

.section-div div h2 {
   font-family: 'Poppins';
   font-weight: 600;
   color: #f7f7f7;
}

.section-div div p {
    font-family: 'Poppins';
    font-weight: 200;
    color: #f7f7f7;
}

.section-div div a {
   justify-self: start;
   color: white;
   padding: 15px 40px;
   border-radius: 5px;
   border: 2px solid white;
}

.section-div img {
    max-width: 100%;
}

.digitando::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: piscar .5s infinite;
}

@keyframes pisca {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes inicializar {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
